body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Heebo', sans-serif;
    /* font-weight: 200; */
    margin: 0px;
}

.title{
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    width: 23vw;
    height: 95%;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: auto;
    align-items: center;
}

.post-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 95%;
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px;
}

.column h2 {
    text-align: center;
}

textarea {
    width: 95%;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    resize: vertical;
}

.submitButton {
    font-size: 1em;
    width: 50%;
    background-color: #4286f4;
    color: #fff;
    font-weight: 700;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;
}
