body {
    background-color: #fff;
    margin: 0;
}

/* FONTS */

h1, h2, h3, p, li {
    color: #111;
    font-family: "Heebo", sans-serif;
    margin: 0;
}

h1 {
    font-size: 7vh;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 3vh;
}

ul li {
    list-style-type: disc;
}

p, a, li {
    font-weight: 500;
    font-size: 3vh;
}

.font18 {
    font-size: 18px;
}

.center-text {
    text-align: center;
}

/* LAYOUT */

.is-fullheight {
    min-height: 100vh;
    min-width: 100vw;
}

.page {
    height: 100%;
}

.page-layout {
    min-height: 100vh;
    min-width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap
}

/* ELEMENTS */

.squareBox {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.squareBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.column-size {
    width: 40vh;
}

.landing-jumbo {
    background-color: rgba(0,0,0,0.5);
}

.landing-jumbo * {
    color: #fff;
}

/* MOBILE SCALING */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4vh;
    }
    h2 {
        font-size: 3vh;
    }
    p, a, li {
        font-size: 12pt;
    }
}
